<%= render "creative_code/shared/back_to_at101" %>

<div class="container py-4 cargo-syllabus">
  <hr>
  <h2>WEEK 10 (networks)</h2>
  <div class="bodycopy">
    <span class="leadline">(choose one, or do more for extra credit)</span>
    <ul>
      <li>Use p5.party (or one of the tools from WEEK 3) to create a multiplayer game that can be played online.</li>
      <li>Using off-the-shelf WebRTC tools (e.g., Zoom, Twitch, Microsoft Teams, etc), create a web-based live performance that lasts 1–5 minutes. This can take the form of a live performance for the class, screen-recorded video documentation of your performance (with or without an audience), or a written score for another performer to follow.</li>
    </ul>
    You may work in pairs or small groups on this project but everyone must provide their own documentation of their own work.
  </div>
</div>

<%= render "creative_code/shared/back_to_at101" %>
