<%= render "creative_code/week_header" %>

<div class="container py-4 cargo-syllabus">
  <hr>
  <h2>WEEK 3 (video games)</h2>
  <div class="bodycopy">
    Design a game using Twine, Flowlab, gDevelop, or another game engine of your choice. Your game should be:
    <ul>
      <li>Short
        <ul>
          <li>a few minutes of gameplay is fine</li>
          <li>a few seconds is also fine if it fits the themes of your game</li>
          <li>there is no specific time limit, but anything approaching an hour is most likely overkill</li>
        </ul>
      </li>
      <li>Meaningful
        <ul>
          <li>your game should tell the player something</li>
          <li>this doesn’t mean it needs a narrative or even formal representation — plenty of art has neither and still “says something” to the viewer</li>
        </ul>
      </li>
    </ul>
    You may work in pairs or small groups on this project but everyone must provide their own documentation of their own work.
  </div>
</div>

