<%= render "creative_code/shared/back_to_at101" %>

<div class="container py-4 cargo-syllabus">
  <hr>
  <h2>WEEK 4 (pixels and animation 1)</h2>
  <div class="bodycopy">
    <span class="leadline">Create 3–5 sketches in Scratch. Use each of the following at least once:</span>
    <ul>
      <li>a loop (for/while/repeat)</li>
      <li>a conditional (if/else-if/etc)</li>
      <li>a custom variable and/or list</li>
      <li>a user input (keyboard, mouse, webcam, microphone)</li>
      <li>an element of randomness</li>
      <li>BONUS: a custom block</li>
    </ul>
    Even if you can use all of these elements in a single sketch, you should iterate over multiple projects.
    Remember that repetition is important to the process of learning the material, and that repetition is important to the process of learning the material.
  </div>
</div>

<%= render "creative_code/shared/back_to_at101" %>
