<%= render "creative_code/week_header" %>

<div class="container py-4 cargo-syllabus">
  <hr>
  <h2>WEEK 5 (pixels and animation 2)</h2>
  <div class="bodycopy">
    <span class="leadline">Create 5–7 sketches in p5.js. Use each of the following at least once:</span>
    <ul>
      <li>a conditional statement (if/else if/etc)</li>
      <li>a for loop or while loop</li>
      <li>a custom variable</li>
      <li>a function other than <code>setup()</code> and <code>draw()</code> (this can be another built-in function like <code>keyPressed()</code> or <code>mousePressed()</code>, or a custom function)</li>
      <li>a user input (keyboard, mouse, webcam, microphone)</li>
      <li>an element of randomness</li>
    </ul>
    Feel free to iterate on your Scratch sketches in p5. Try to spread these out over the course of the week,
    ideally working on one (at least briefly) every day. Remember: the best way to get good at something is to do it every day.
  </div>
</div>

