<%= render "creative_code/week_header" %>

<div class="container py-4 cargo-syllabus">
  <hr>
  <h2>WEEK 6 (sound)</h2>
  <div class="bodycopy">
    <span class="leadline">Using either Scratch or p5.sound, do one of the following:</span>
    <ul>
      <li>Create an interactive music app, where sounds (and animations) respond to various user inputs</li>
      <li>Compose a piece of generative music, where the sounds evolve over time based on some equation or process</li>
      <li>Design a musical system that is both interactive and generative</li>
    </ul>
    You may work in pairs or small groups on this project but everyone must provide their own documentation of their own work.
  </div>
</div>

