<%= render "creative_code/shared/back_to_at101" %>

<div class="container py-4 cargo-syllabus">
  <hr>
  <h2>WEEK 7 (midterm)</h2>
  <div class="bodycopy">
    no project this week
  </div>
</div>

<%= render "creative_code/shared/back_to_at101" %>
