<%= render "creative_code/week_header" %>

<div class="container py-4 cargo-syllabus">
  <hr>
  <h2>WEEK 9 (interfaces)</h2>
  <div class="bodycopy">
    <span class="leadline">(choose one, or do more for extra credit)</span>
    <ul>
      <li>Make a copy of one of your existing p5.js sketches and redesign it specifically for mobile display. What changes about the interaction and presentation of your sketch?</li>
      <li>Design a simple WebVR environment using A-Frame or Three.js</li>
      <li>Borrow an Arduino Microcontroller from the Ammerman Center and use p5.SerialServer or p5.WebSerial to connect it with a p5 sketch</li>
    </ul>
    You may work in pairs or small groups on this project but everyone must provide their own documentation of their own work.
  </div>
</div>

